.card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1.5px solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}

.userCard {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.userInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.icon {
  color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-3));
  width: 18px;
  height: 18px;
}

.iconGroup {
  gap: 8px;
}

@media (max-width: 768px) {
  .icon {
    width: 14px;
    height: 14px;
  }

  .iconGroup {
    gap: 4px;
  }
}